#order{
    margin-bottom: 2px;
    border-bottom: 1px solid grey;
    background-color: rgba(31, 92, 21,0.1);
    padding-right: 28px;
    font-weight: bold; 
}

#order-details{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:45px;
    margin: 0 10px 0 10px;
}

#items-sold-container{
    margin: 0 10px 0 10px;
}

#items-sold{
    padding-left: 20px;
    margin-left:1px;
    border-left: 2px solid #1F5C15;
    font-weight: 500;
    font-size: 14px;
    
}

#items-sold-total-cost{
    
    margin-left:1px;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    
}

#item-sold{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:18%
}

#order-fulfil-cancel-buttons-container{
    display:flex;
    justify-content:center
}

.order-button{
    background-color: rgba(255, 255, 255);
    color:black;
    cursor:pointer;
    border: none;
    margin: 0 40px 0 40px;
    height: 30px;
    font-size:12px;
    width:60px;
    border-radius: 5px
}
.order-button:hover{

}
.order-button:disabled{
    background-color: rgba(255, 255, 255,0.4);
}